

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
  border-radius: 10px;
  border: solid #6d6d6d 10px;
}
::-webkit-scrollbar-track {
  /* margin-top: 45px; */
  background-color: #ebebeb;
  border-radius: 10px;
  width: 6px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
input{
  width: 100%;
  margin: 10px 0px !important;
  padding: 10px !important;
 
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.homeNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background: #5DADE2;
    color: #424949;
}
.usersTable{
  margin-top: 80px ;
}
.logo{
  font-weight: bold;
}
.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form{
  background: #D0D3D4;
  padding: 15px ;
  border-radius: 10px;
}
.formInputs{
  display: flex;
  align-items: center;
  
  
}
.radio-container{
  /* border: 1px solid red; */
  /* margin-top: 20px; */
  padding: 5pxpx 3px;
  display: block;
  /* height: 45px; */
}
.usernameGenderLabel{
  display: flex;
  /* justify-content: space-between; */
}
.usernameGenderLabel label{
  width: 230px !important;
  margin-right: 20px;
  
}
.formInputs div{
  margin-right: 10px;
}
.usernameInput{
  /* border:1px solid red !important; */
  width: 230px !important;
}
.radioLabel{
  margin-left: 10px;
  margin-top: 10px;
}
.submitBtnContainer{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}